<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Multimedia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-MpQiHStlt/9GCO+ifDyqL+gHt2EJ+I1Rt7ZMvMllpJ7M8X5Pcblnue5BvNyquV7C8KjITDNQ7fZbnnJ5V7P8A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
<header>
    <h1 class="title">Mars Vision</h1>
    <p class="date">March 16, 2023</p>
    <button class="toggle-button bi bi-x" onclick="toggleNavbar()"></button>
</header>
<div class="navbar" id="navbar">
    <h2>FAST</h2>
    <p>L'algoritmo "Features from accelerated segment test" (FAST) è un algoritmo utilizzato per l'estrazione delle caratteristiche dalle immagini. Si basa sulla ricerca di punti chiave in una immagine mediante la valutazione della differenza di luminosità tra un pixel centrale e i suoi otto pixel adiacenti. La velocità dell'algoritmo è aumentata attraverso l'uso di una tecnica di segmentazione accelerata. Questo algoritmo è stato sviluppato per essere utilizzato in applicazioni di visione artificiale, come il rilevamento di oggetti, la localizzazione di punti di interesse e la ricostruzione 3D di scene.</p>
</div>

<div class="container">
    <div class="image-container">
        <img th:src="*{'data:image/png;base64,'+baseImage}" alt="Image 2">
        <div class="caption">Image Originale</div>
    </div>

    <div class="image-container last-container">
        <img th:src="*{'data:image/png;base64,'+fastImage}" alt="Image 1">
        <div class="caption">Image FAST</div>
    </div>
</div>
<footer class="text-center text-lg-start text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4">
                <i class="bi bi-facebook" style="color: white;"></i>
            </a>
            <a href="" class="me-4">
                <i class="bi bi-linkedin" style="color: white;"></i>
            </a>
            <a href="" class="me-4">
                <i class="bi bi-github" style="color: white;"></i>
            </a>
        </div>
</footer>
</body>
<script>
    function toggleNavbar() {
        var navbar = document.getElementById("navbar");
        if (navbar.classList.contains("hide")) {
            navbar.classList.remove("hide"); // faccio comparire
            $(".toggle-button").addClass('bi bi-x');
            $(".toggle-button").removeClass('bi bi-body-text');
        } else {
            navbar.classList.add("hide"); // faccio scomparire
            $(".toggle-button").addClass('bi bi-body-text');
            $(".toggle-button").removeClass('bi bi-x');
        }
    }
    $(document).ready(function () {

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + '/' + mm + '/' + yyyy;
        $('.date').text(today);
    });
</script>

</html>
