<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Multimedia</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="../static/css/style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
prova index3
<div>
  <div class="container">
    <div class="row">
      <img alt="" class="img-pr" th:src="*{'data:image/png;base64,'+image}"
           src="">
    </div>
  </div>
</div>
<div class="badge-orange">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card col-sm-12">
          <form id="segmentation-form" action="/segmentation"  method="get">
          <div class="card-body seg-form">
            <img class="card-img" th:src="@{images/icons8-segmentation-64.png}"></img>
            <input hidden type="text" name="baseImageIdSeg" id="baseImageIdSeg" th:value="*{baseImageId}" style="">
            <h5 class="card-title">Segmentazione</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of
              the
              card's content.</p>
          </div>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="card col-sm-12">
          <form action="/fast"  method="get">
          <div class="card-body card-form">
            <img class="card-img" th:src="@{images/fast.png}"></img>
            <input hidden type="text" name="baseImageId" id="baseImageId" th:value="*{baseImageId}" style="">
            <h5 class="card-title">FAST</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of
              the
              card's content.</p>
          </div>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="card col-sm-12">
          <div class="card-body">
            <img class="card-img" th:src="@{images/icons8-clustering-64.png}"></img>
            <h5 class="card-title">Clustering</h5>
            <p class="card-text">Suddivisione di un oggetto in k gruppi sulla base
              delle loro feature</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card col-sm-12">
          <form id="slic-form" action="/slic"  method="get">
          <div class="card-body form-slic">
            <h5 class="card-title">Slic</h5>
            <input hidden type="text" name="baseImageIdSlic" id="baseImageIdSlic" th:value="*{baseImageId}" style="">
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
              of
              the
              card's content.</p>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="padding-top: 150px; padding-left: 10px"> Latest photos: </p>
<div id="container">
  <ul id="griglia">
    <li th:each="images: ${images}">
      <img class="img-sec" th:src="*{'data:image/png;base64,'+images}"width="160" height="160">
    </li>
  </ul>
</div>



<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->
    <!-- Right -->
    <div>
      <a href="" class="me-4">
        <i class="bi bi-facebook" style="color: white;"></i>
      </a>
      <a href="" class="me-4">
        <i class="bi bi-linkedin" style="color: white;"></i>
      </a>
      <a href="" class="me-4">
        <i class="bi bi-github" style="color: white;"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
<script>
  $(document).ready(function () {
  $(".img-sec").click(function () {
  let imgselected = $(this).attr("src");
  $(".img-pr").attr("src",imgselected);
  });




    $( ".card-form" ).click(function() {
      $( "form" ).submit();
    });
    $( ".seg-form" ).click(function() {
      $( "#segmentation-form" ).submit();
    });
    $( ".form-slic" ).click(function() {
      $( "#slic-form" ).submit();
    });
  })
</script>
</html>